<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Pagarme\Pagarme\Gateway\Transaction\Base\Command\InitializeCommand" type="Infracommerce\PagarmeDebugger\Rewrite\Pagarme\Pagarme\Gateway\Transaction\Base\Command\InitializeCommand"/>
	<preference for="Magento\Payment\Gateway\Data\PaymentDataObjectInterface" type="Infracommerce\PagarmeDebugger\Gateway\Data\PaymentData"/>
</config>
