<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="infracommerce" translate="label" sortOrder="999">
            <label>Infracommerce</label>
        </tab>
        <section id="debugger" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Debugger</label>
            <tab>infracommerce</tab>
            <resource>Infracommerce_PagarmeDebugger::config_infracommerce_pagarmedebugger</resource>
            <group id="pagarme" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>Pagarme</label>
                <field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Active</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
